html, body {
    height: 100%;
}
    
head{
    font-family: 'Georgia', Times, Times New Roman, serif;

}

body{
    display: flex;
    padding-top: 0;
    margin: 0;
    background-color: #dddddd;
    flex-direction: column;
}
.header{
    padding-top: 5px;   
    height: 100px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom-style: solid;
    border-color: #dddddd;
    background-color:#ffffff;

}
.name{
    background-color: #4aaaa5;
    width: 245px;
    height: 35px;
    text-align: center;
    padding-top:20px;
    padding-bottom: 25px;
    margin-left: 18%;
    font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    float: left;
}

.About{
    float:left;
    padding-top: 20px;
    padding-right: 8px;
    margin-top:10px;
    text-align: center;
    overflow: auto;
    color: #777777;
}

.Contact {
    float:left;
    padding-top: 20px;
    padding-right: 8px;
    margin-top:10px;
    text-align: center;
    overflow: auto;
    color: #777777;
}
.Portfolio {
    float:left;
    padding-top: 20px;
    padding-right: 8px;
    margin-top:10px;
    text-align: center;
    overflow: auto;
    color: #777777;
}

.apc{
    margin-left: 33%;
    float:left;
    overflow:auto;
}

.container {
    width: 960px;
    height: 465px;
    margin-left: 18%;
    margin-top: 35px;
    padding-bottom: 5px;
    color:#4aaaa5;
    background-color:#ffffff;
    position: relative;
    overflow: auto;
}

.cont-header{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-color: #dddddd;
}

.bio-image{
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
.bio{
    text-align: left;
    color: #777777;
    line-height: 1.6;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
} 

.c_name{
   
    color: #777777;
    padding-left: 10px;
    

}

.c-name{

    background-color:transparent;
    border-style:solid;
    border-color:rgb(197, 196, 196);
    width: 900px;

}
.c_email{

    color: #777777;
    padding-left: 10px;
}

.c-email{

    background-color:transparent;
    border-style:solid;
    border-color:rgb(197, 196, 196);
    width: 900px;

}
.c_msg{

    color: #777777;
    padding-left: 10px;
    
}

.c-msg{

    margin-top: 0px;
    margin-left: 0px;
    background-color:transparent;
    border-style:solid;
    border-color:rgb(197, 196, 196);
    height: 80px;
    width: 900px;

}
.c_btn_submit{
    
    margin-top: 15px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    background-color:#4aaaa5;
    color: #ffffff;
    height: 25px;
    width: 65px;  
    text-align: left;  
}

.hman{
    position: absolute;
    padding-top:0;
    padding-left: 25px; 
}
/* .hman-label{
    background-color: #4aaaa5;
    width: 50px;
    text-align: center;
    font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    z-index: 10;
    position: relative;  */

.rpg{
    float: left;
    padding-left: 200px;
    
}

.trivia{
    position: absolute;
    padding-top: 140px;
    padding-left: 10px;
}

.widget{
    position: absolute;
    padding-top: 140px;
    padding-left: 220px;
}

.rps{
    
    position: absolute;
    padding-top: 265px;
    padding-left: 10px;
}

.footercontent{

    min-height: calc(100vh-70px);
    flex: 1 0 auto;
}
.footer{
    margin-top: 87px;
    background-color:#666666;
    border-top-style: solid;
    border-color:  #4aaaa5;
    text-align: center;
    color: white;
    flex-shrink: 0;

}